<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>本地音乐播放器</title>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="tittle">我的音乐库</div>
			<div class="card-btn">歌曲</div>
			<div class="card-btn">歌手</div>
			<div class="card-btn">专辑</div>
			<ul class="list" v-if="musicList.length!=0">
				<li class="item" v-for="(item,index) in musicList" v-bind:key="index"></li>
			</ul>
			<div v-else class="error">目前没有音乐，赶快添加吧！</div>
		</div>
		<script src="index.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>
