<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>添加音乐</title>
		<link rel="stylesheet" type="text/css" href="../../assets/font_1386901_ocu8319mpgh/iconfont.css"/>
		<link rel="stylesheet" type="text/css" href="add.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="tittle">识别到您选择文件以下有相关音乐</div>
			<div class="tip">请选择需要添加的音乐，点击导入即可将所选音乐导入播放器</div>
			<div class="musicList" v-if="musicList.length!=0">
				<div class="muiscItem" v-for="item in musicList">
					<div class="choose iconfont iconchoose"></div>
					<div class="img" :style="background-image: url("+showImage(item.msg)+");">{{}}</div>
					<div class="name">{{itemName(item.name)}}</div>
					<div class="album">{{showAlbum(item.msg)}}</div>
					<div class="artist">{{showArtist(item.msg)}}</div>
					<!-- <div class="duration">{{showArtist(item.duration)}}</div> -->
				</div>
			</div>
			<div class="error" v-else>当前文件夹下没有支持的音乐文件</div>
			<div class="foot">
				<div class="cancal">放弃导入</div>
				<div class="addbtn">导入音乐</div>
			</div>
		</div>
		<script src="./add.js"></script>
	</body>
</html>
